@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

[x-cloak] {
  display: none !important;
}

::selection {
  background: #8c1d40;
  color: #fff;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db transparent;
}
